body {
  margin-top:10px; margin-left:50px; margin-right:90px; max-width:1700px;
}

h1 {
  color:#161230; size:32px; font-family:serif; text-align:center;
}


h1.header1{
  color:#161230; size:20px; font-family:serif; text-align:left;
}

html {
  background-color: #F7F7E0;
}

p {
  font-family:sans-serif;;
  text-align: left;
  padding-right: 2cm;
  width: 700px;
}

ul {
    background: #3cb6a9;
    border-color:#161230;
    border-width:thin;
    border-style:solid;
    border-radius: 20px;
    padding: 20px;
    width: 600px;
    font-family:Garamond;
    list-style: square inside url("sqpurple.gif");
    font-family:monospace;
    color:#161230
}

 div {
   border-radius: 15px;
 }

 div #info {
   align:right;
 }

a {
    text-decoration: none;
    color:#3cb6a9;
    font-weight:bold;
}

footer {
  text-align:center;
}
